---
layout: default
title: Monographes
---
<h1>Monographes</h1>

<h2>Monograph 1</h2>
{% for item in site.mono1 %}
  <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
  <p>{{ item.description }}</p>
{% endfor %}

&nbsp;

<h2>Monograph 2</h2>
{% for item in site.mono2 %}
  <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
  <p>{{ item.description }}</p>
{% endfor %}

{% include disqus.html %}

<!-- Since there won't be hundreds of monographs, list them one-at-a-time -->