<div class="topnav">
| {% for item in site.data.navigation %}
	<a href="{{ item.link }}" {% if page.url == item.link %} class = current {% endif %}>{{ item.name }}</a> |
  {% endfor %}
</div>

<!-- 

The list of values stored in _data can be accessed with the site.data_ command. 
Using the Liquid logic brackets, we iterate through the list of data, and item.link references the variables set in the list.

The second piece of logic then compares the current page, obtained with page.url, and compares it to the listed item. If the listed item matches, the format is changed to red.

-->