@import "default.css";

.highlight {
  padding-left: 15px;
}

.current {
  color: green;
}

ul {
  list-style-type: square;
  font-size: 95%;
  padding-left: 15px;
}

ul li {
  padding-top: 10px;
  padding-left: 5px;
}

.column {
  float: left;
  width: 250px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidenav {
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 10px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px 0;
}

.doc {
  margin-left: 200px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
}

/* Styles for Resume Section */

.cv-head {
  padding-bottom: 10px;
  font-weight: bold;
}

.cv-l {
  width:50%; 
  float:left;
}

.cv-r {
  width:50%;
  float:right;
  text-align:right;
}