---
layout: default
---
<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - {% for tag in page.tags %} <a href="/tags/#{{ tag }}">{{tag}}</a> {% endfor %}</p>

{{ content }}

<p><a href="{{ page.previous.url }}">Previous</a> / <a href="{{ page.next.url }}">Next</a></p>

<!-- Because the layout is set to default, the title and page date wrap around the content, and the body is wrapped by the default layout. This is called layout inheritence.  -->

<!-- Added a list of tags that anchor to a tag collection page.  -->