---
layout: default
---

{% assign category = site.categories | where: 'short_name', page.category | first %}

{% if category %}
	<h3>Category : <a href="{{ category.url }}">{{ category.name }}</a></h3>
{% endif %}

<p> 
	
	Date : {{ page.date | date_to_string }} |

	Tags : {% for tag in page.tags %} <a href="/tags#{{ tag }}">{{ tag | capitalize }}</a> {% endfor %}

</p>
<hr/>

<h2>{{ page.title }}</h2>
<p> 

	{{ content }}

</p>

<footer>
	<a href="{{ page.previous.url }}">Previous</a> {{ page.previous.title }} 
	/ 
	<a href="{{ page.next.url }}">Next</a> {{ page.next.title }}
</footer>

{% include disqus.html %}

<!-- Because the layout is set to default, the title and page date wrap around the content, and the body is wrapped by the default layout. This is called layout inheritance.  -->

<!-- Added a list of tags that anchor to a tag collection page.  -->